@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat',sans-serif;
    height:100vh;
    /* background: #00008f; */
    /* background: -webkit-linear-gradient(63deg, #00008f 0%, #8f00e2 100%); */
    /* background: linear-gradient(63deg, #00008f 0%, #8f00e2 100%);  */
}


.house{
    float:left;
    width:49.25%;
    border:0.2em solid rgba(0, 0, 0, 0.507);
    padding:3em 1.5em;
    height:40vh;
    position: relative;
    margin-bottom: 0.5em;
    border-radius:1.8em;
    background:#1d1d1d8e;
    margin-left:0.5em;
}

.house-section{
    position: absolute;
    bottom: 0;
    width:100%;
    max-height:39vh;
    max-width:45vw;
    overflow:auto;
}


.top::after{
    content:'';
    display:block;
    clear:both;
}
.bottom::after{
    content:'';
    display:block;
    clear:both;
}

.container{
    text-align:center;
    max-width:1600px;
    width:95%;
    margin: 0 auto;
}

/* .header{
    height:13vh;
    background:#181818f1;
    margin-bottom:3.3vh;
    position:relative;
    
}

.header::after{
    content:'';
    display:block;
    clear:both;
} */

/* .img-helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.logo{
    height:12vh;
    margin:0;
    position:absolute;
    bottom:0.5em;
    left:20%;


} */


.footer{
    padding:0.25rem;
    width:100%;
    background: #262626;
    text-align: center;
    color:white;
    font-size: 1.5rem;
}

/* utility */

/* .top-heading{
    font-family:'Comfortaa',sans-serif;
    font-weight:600;
    text-align:center;
    color:white;
} */

.big-heading{
    font-size:2.5rem;
}

.heavy-bold{
    font-weight:500;
}


.btn{
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0.125em 0.25em;
    max-width: none;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.btn-clear{
    background-color:rgb(126, 5, 5);
}

.btn:hover{
opacity: .75;
}

.points-input-box{
    padding: 0.5em;
    text-align: center;
    margin:0.5rem;
}

.points-view{
    text-align: center;
}

.graph{
    /* border:2px solid black; */
    width:60px;
    margin: 0.6em auto;
    /* height:18vh; */
}

.points-text{
    color:white;
    font-size:3.5rem;
}

.green{
    background: linear-gradient(rgb(56, 142, 61) 0%, rgb(139, 195, 74) 100%);
    border:2px solid rgb(0, 95, 0);
    border-radius: 8px;
}

.blue{
    background: linear-gradient(rgb(13, 72, 161) 0%, rgb(41, 181, 246) 100%);
    border:2px solid rgb(0, 0, 109);
    border-radius: 8px;
}

.red{
    background: linear-gradient(rgb(255, 12, 9) 0%, rgb(251, 104, 0) 100%);
    border:2px solid rgb(126, 0, 0);
    border-radius: 8px;
}

.yellow{
    background: linear-gradient(rgb(255, 179, 0) 0%, rgb(255, 238, 88) 100%);
    border:2px solid rgb(151, 151, 0);
    border-radius: 8px;
}

#particles-js{
    height: 100%;
    background: #C401C4;
    background: -webkit-linear-gradient(bottom right, #C401C4, #152944);
    background: -moz-linear-gradient(bottom right, #C401C4, #152944);
    background: linear-gradient(to top left, #C401C4, #152944);
    position: fixed;
    width: 100%;
    z-index: -1;
}

.house-name{
    color:white;
    font-size: 4rem;
    font-weight: 500;
}

/* .top-text{
    font-size:7rem;
    padding-left: 0.5em;
    position:absolute;
    bottom: 0.2em;
    left:30%;
} */

/* .nav-head{
    float:left;
} */


.header{
    height:13vh;
    background:#181818f1;
    margin-bottom:3.3vh;
    text-align: center;
}

.header .image img{
    height:13vh;
}

.header .text{
    font-family:'Comfortaa',sans-serif;
    font-weight:600;
    text-align:center;
    color:white;

}

.header .image, 
.header .text {
    display: inline-block;
    vertical-align: middle;
}

.header .text{
    font-size:7rem;
    padding-left: 0.5em;
}


.helper-height{
    position: absolute;
    height:18vh;
    top:0;
}



/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
	.header .text{
        font-size:6rem;
    }
    .house-name{
        font-size:3rem;
    }
    .points-text{
        font-size:2.5rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .header .text{
        font-size:4.5rem;
    }
    .house-name{
        font-size:3rem;
    }
    .points-text{
        font-size:2.5rem;
    }
}

@media only screen and (min-width: 700px) and (max-width: 768px) {
    .header .text{
        font-size:3.5rem;
    }
    .house-name{
        font-size:3rem;
    }
    .points-text{
        font-size:2.5rem;
    }
}

@media only screen and (min-width: 571px) and (max-width: 699px) {
    .header .text{
        font-size:3rem;
    }

    .house{
        width:49%;
    }
    .house-section{
        padding:0;
    }
    .house-name{
        font-size:3rem;
    }
    .points-text{
        font-size:2.5rem;
    }
    .btn{
        height:38px;
    }
    .helper-height{
        height:14.5vh;
    }
}

@media only screen and (min-width: 525px) and (max-width: 570px) {
    .header .text{
        font-size:2.5rem;
    }

    .house{
        width:49%;
    }
    .house-section{
        padding:0;
    }
    .house-name{
        font-size:3rem;
    }
    .points-text{
        font-size:2.5rem;
    }
    .btn{
        height:38px;
    }
    .helper-height{
        height:14vh;
    }
}

@media only screen and (min-width: 481px) and (max-width: 524px) {
    .header .text{
        font-size:2rem;
    }

    .house{
        width:48%;
    }
    .house-section{
        padding:0;
        max-width:40vw;
    }
    .house-name{
        font-size:2.5rem;
    }
    .points-text{
        font-size:2rem;
    }
    .btn{
        height:38px;
    }
    .helper-height{
        height:14.5vh;
    }
}

@media only screen and (min-width: 440px) and (max-width: 480px) {
    .header .text{
        font-size:2rem;
    }

    .house{
        width:100%;
        margin-top:0.5em;
    }
    .house-section{
        padding:0;
        max-width:89vw;
    }
    .btn{
        height:38px;
    }
    .helper-height{
        height:14.5vh;
    }
}

@media only screen and (min-width: 399px) and (max-width: 439px) {
    .header .text{
        font-size:2rem;
    }

    .house{
        width:100%;
        margin-top:0.5em;
    }
    .house-section{
        padding:0;
        max-width:89vw;
    }
    .header .image img{
        height:10vh;
    }
    .header{
        height:10.5vh;
    }
    .btn{
        height:38px;
    }
    .helper-height{
        height:14.5vh;
    }
}

@media only screen and (min-width:367px) and (max-width: 398px) {
    .header .text{
        font-size:2.8rem;
        margin-top:0.3em
    }

    .house{
        width:100%;
        margin-top:0.5em;
    }
    .house-section{
        padding:0;
        max-width:89vw;
    }
    .header .image img{
        height:10.5vh;
    }
    .header{
        height:16vh;
    }
    .btn{
        height:38px;
    }
    .helper-height{
        height:14.5vh;
    }
}

@media only screen and (max-width: 366px) {
    .header .text{
        font-size:2.8rem;
        margin-top:0.5em
    }

    .house{
        width:100%;
        margin-top:0.5em;
    }
    .house-section{
        padding:0;
        max-width:89vw;
    }
    .header .image img{
        height:10.5vh;
    }
    .header{
        height:20vh;
    }
    .btn{
        height:38px;
    }
    .helper-height{
        height:14.5vh;
    }
}