@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat',sans-serif;
    height:100vh;
    /* background: #00008f; */
    /* background: -webkit-linear-gradient(63deg, #00008f 0%, #8f00e2 100%); */
    /* background: linear-gradient(63deg, #00008f 0%, #8f00e2 100%);  */
}


.house{
    float:left;
    width:49.25%;
    border:0.2em solid rgba(0, 0, 0, 0.507);
    padding:3em 1.5em;
    height:40vh;
    position: relative;
    margin-bottom: 0.5em;
    border-radius:1.8em;
    background:#1d1d1d8e;
    margin-left:0.5em;
}

.house-section{
    position: absolute;
    bottom: 0;
    width:100%;
}


.top::after{
    content:'';
    display:block;
    clear:both;
}
.bottom::after{
    content:'';
    display:block;
    clear:both;
}

.container{
    text-align:center;
    max-width:1600px;
    width:95%;
    margin: 0 auto;
}

/* .header{
    height:13vh;
    background:#181818f1;
    margin-bottom:3.3vh;
    position:relative;
    
}

.header::after{
    content:'';
    display:block;
    clear:both;
} */

/* .img-helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.logo{
    height:12vh;
    margin:0;
    position:absolute;
    bottom:0.5em;
    left:20%;


} */


.footer{
    padding:0.25rem;
    width:100%;
    background: #262626;
    text-align: center;
    color:white;
    font-size: 1.5rem;
}

/* utility */

/* .top-heading{
    font-family:'Comfortaa',sans-serif;
    font-weight:600;
    text-align:center;
    color:white;
} */

.big-heading{
    font-size:2.5rem;
}

.heavy-bold{
    font-weight:500;
}


.btn{
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0.25em;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.btn-clear{
    background-color:rgb(126, 5, 5);
}

.btn:hover{
opacity: .75;
}

.points-input-box{
    padding: 0.5em;
    text-align: center;
    margin:0.5rem;
}

.points-view{
    text-align: center;
}

.graph{
    /* border:2px solid black; */
    width:60px;
    margin: 0.6em auto;
}

.points-text{
    color:white;
    font-size:3.5rem;
}

.green{
    background: linear-gradient(rgb(56, 142, 61) 0%, rgb(139, 195, 74) 100%);
    border:2px solid rgb(0, 95, 0);
    border-radius: 8px;
}

.blue{
    background: linear-gradient(rgb(13, 72, 161) 0%, rgb(41, 181, 246) 100%);
    border:2px solid rgb(0, 0, 109);
    border-radius: 8px;
}

.red{
    background: linear-gradient(rgb(255, 12, 9) 0%, rgb(251, 104, 0) 100%);
    border:2px solid rgb(126, 0, 0);
    border-radius: 8px;
}

.yellow{
    background: linear-gradient(rgb(255, 179, 0) 0%, rgb(255, 238, 88) 100%);
    border:2px solid rgb(151, 151, 0);
    border-radius: 8px;
}

#particles-js{
    height: 100%;
    background: #C401C4;
    background: -webkit-linear-gradient(bottom right, #C401C4, #152944);
    background: -moz-linear-gradient(bottom right, #C401C4, #152944);
    background: linear-gradient(to top left, #C401C4, #152944);
    position: fixed;
    width: 100%;
    z-index: -1;
}

.house-name{
    color:white;
    font-size: 4rem;
    font-weight: 500;
}

/* .top-text{
    font-size:7rem;
    padding-left: 0.5em;
    position:absolute;
    bottom: 0.2em;
    left:30%;
} */

/* .nav-head{
    float:left;
} */


.header{
    height:13vh;
    background:#181818f1;
    margin-bottom:3.3vh;
    text-align: center;
}

.header .image img{
    height:13vh;
}

.header .text{
    font-family:'Comfortaa',sans-serif;
    font-weight:600;
    text-align:center;
    color:white;

}

.header .image, 
.header .text {
    display: inline-block;
    vertical-align: middle;
}

.header .text{
    font-size:7rem;
    padding-left: 0.5em;
}